@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap");

body {
  background-color: #323232;
}

.poster {
  max-height: 400px;
  max-width: 300px;
  width: 400px;
  height: 600px;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding: 0 120px;
  position: sticky;
  overflow: hidden;
}

@media screen and (max-width: 1063px) {
  .information {
    display: none;
  }
}
